[client]
port		= 30007
socket		= /tmp/mysql_30007.sock

[mysqld]
#core-file
innodb_doublewrite=OFF
user=root 
log-error = /data/ldy2/soft/loongbase/data/30007/LongBASE64.site.err
open-files-limit = 102400
#log_error_verbosity = 3
port		= 30007
socket		= /tmp/mysql_30007.sock
pid-file    = /data/ldy2/soft/loongbase/data/30007/LoongBASE64.pid
datadir     = /data/ldy2/soft/loongbase/data/30007
basedir     = /data/ldy2/soft/loongbase
slow_query_log_file = /data/ldy2/soft/loongbase/data/30007/slow_query.log
tmpdir = /data/ldy2/soft/loongbase/tmp/30007
slave_load_tmpdir = /data/ldy2/soft/loongbase/tmp/30007
#skip_grant_tables

secure_file_priv = /data/ldy2/soft/loongbase/data/30007
default-authentication-plugin=mysql_native_password

innodb_log_group_home_dir = /data/ldy2/soft/loongbase/log/30007
#for master-slave
server-id	= 110005
log-bin = /data/ldy2/soft/loongbase/log/30007/mysql-bin
relay-log = /data/ldy2/soft/loongbase/log/30007/relay-bin


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
core-file-size=unlimited

